#!/bin/bash

# This sets up shell environment variables for the Project Gutenberg
# privileged back-end services.
VHOST="/public/vhost/g/gutenberg"
PUBLIC="${VHOST}/html"
PRIVATE="${VHOST}/private"
UPSTREAM_REPO_DIR=""
